
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/.angular/cache

# Logs de error de paquetes
npm-debug.log
yarn-error.log
yarn-clean.log
package-lock.json.log


# Ignora la carpeta donde se descargan los proveedores (el .exe de 685MB)
**/terraform/.terraform/
.terraform/
.terraform/*

# Ignora los estados locales de Terraform (contienen credenciales y rutas)
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Ignora archivos de configuración de inicialización y empaquetados
.terraform.lock.hcl
*.zip
*.exe


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.DS_Store
Thumbs.db