<div class="redirection-container">
  
  @if (isLoading) {
    <div class="status-card text-center fade-in">
      
      <div class="spinner-loader"></div>
      
      <h1 class="card-title">
        Redireccionando de forma segura
      </h1>
      
      <p class="card-subtitle">
        Estamos validando el enlace en la infraestructura Cloud Serverless...
      </p>
      
      <div class="countdown-badge">
        {{ countdown }}s
      </div>
    </div>
  }

  @else if (hasError) {
    <div class="status-card card-error text-center fade-in">
      
      <div class="error-icon-alert">⚠️</div>
      
      <h1 class="card-title">
        ¡Enlace no encontrado!
      </h1>
      
      <p class="card-subtitle error-text-body">
        El código corto 
        <span class="shortcode-badge">
          {{ shortCode }}
        </span> 
        no existe en la base de datos de DynamoDB o ha expirado.
      </p>
      
      <a routerLink="/" class="back-home-btn">
        Volver al Inicio
      </a>
    </div>
  }

  <footer class="system-footer">
    Módulo 5 - Enrutamiento Dinámico & Edge Failover (AWS CloudFront)
  </footer>

</div>